p {
    font-family: fantasy  
}
header {
    /* background-color: rgb(168, 228, 168); */
    padding-top: 10px;
}
hr {
    height: 2px;
    width: 100%;
    background-color: darkgreen;       
   }

header > h1 {
    color: grey;
    text-align: left;
    margin-left: 15%;
    font-family: fantasy
}

.add_item_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: fantasy    

}  

.form-button{
    margin: 15px;
    margin-right: 35px;
    align-self:center;
    border-radius: 4px;
}

.form-item > label{
    margin: 2px;
}

.form-item1 {
    display: flex;
    margin: 15px
}
.form-item2 {
    display: flex;
    margin: 15px
}
.form-item3 {
    display: flex;
    margin: 15px
}
.form-item1 > input{
    width: 200px;
    border-radius: 4px;
}
.form-item2 > input{
    width: 100px;
    border-radius: 4px;
}
.form-item3 > input{
    width: 50px;
    border-radius: 4px;
}

.bought_button_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: fantasy 
}

.delete_button_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: fantasy 
}

.bought_button {
    /* justify-content: center;
    font-family: fantasy     */
}

.row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    margin-left: 50px;
    margin-right: 30px;
}
.col {
    text-align: center;
    margin: 7px;
    font-family: fantasy
}
.col > form {
    align-content: center;
    margin: 7px;
}
.heading {
    font-weight: bold;
    text-align: center;
    margin: 7px;
    font-family: fantasy
}
.col1 {
    text-align: left;
}

#container {
    background-color: rgb(162, 197, 191);
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#form-container {
    background-color: rgb(170, 228, 201);
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    width: 70%;
}






