{% extends "base.html" %}

{% block content %}

    {% for item in shopping_list %}
        <div class="col col1">{{item.item_name}}</div>
        <div class="col col2">{{"£%.2f"|format(item.price)}}</div>
        <div class="col col3">{{item.quantity}}</div>

        {% if not item.bought %}
        <form class="bought_button_form" action="/shopping-list/bought" method="post">
            <div class="bought_button">
                <button type="submit" name="bought_button" value="{{item.item_name}}">check-off</button>
                <!-- <input name="{{item.name}}" type="submit" value="check-off"> -->
            </div>  
        </form>
                
        {% elif item.bought %}
        <form class="bought_button_form" action="/shopping-list/uncheck" method="post">
            <div class="bought_button">
                <button type="submit" name="bought_button" value="{{item.item_name}}">bought</button>
                <!-- <input type="submit" value="Bought"> -->
            </div>  
        </form>
        {% endif %}
        <form class="delete_button_form" action="/shopping-list/delete" method="post">
            <div class="delete_button">
                <button type="submit" name="delete_button" value="{{item.item_name}}">delete</button>
                <!-- <input type="submit" value="Bought"> -->
            </div>  
        </form>
    {% endfor %}

{% endblock %}